@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: rgb(254, 75, 75);
    --default-layout-header-height: 60px;
    --default-layout-width: 800px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5; //Chữ cách dòng
    text-rendering: optimizeSpeed; //Tối ưu font-size tải trên mạng
}
